<section class="py-5 text-center container">
    <div class="video-background">
      <div class="video-foreground">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/static/bookforrent_app.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Adrian's BookForRent APP</h1>
        <p class="lead text-body-secondary">Discover my BookForRent App, your one-stop solution for borrowing and enjoying books from the comfort of your home. 
            Dive into the world of literature with just a few taps on your screen. 
            Don't let the joy of reading pass you by!</p>
        <p>
          <a href="https://github.com/adriandrinceanu" target="_blank" class="btn btn-primary my-2">My GitHub</a>
          <a href="{% url 'contact' %}" class="btn btn-secondary my-2">Contact</a>
        </p>
      </div>
    </div>
  </section>