{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="form-signin  m-auto" style="padding-top: 5%;">
    <form method="POST" action=""  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <br> 
        <div class="form-group">
            {{ form.author }}
        </div>
        <br>
        <div class="form-group">
            <label>Select genre:</label>
            {{ form.genres }}
        </div>
        <br>
        <div class="form-group">
            <label>Book cover:</label>
            {{ form.image }}
        </div>
        <br>
        <div class="form-group">
            <label>Enter quantity</label>
            {{ form.quantity }}
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Add book">
    </form>
</div>
{% endblock %}